---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}
<h2>Publications</h2>

<b>T. Liu</b>, N. D. Truong, A. Nikpour, L. Zhou, and O. Kavehei, &quot;Epileptic Seizure Classification With Symmetric and Hybrid Bilinear Models &quot;, <i>IEEE Journal of Biomedical and Health Informatics</i>, 2020
<br>
<a href="https://ieeexplore.ieee.org/abstract/document/9055195">Download paper here</a>
<br><br>
J. Niu, D. Liu, R. Liu, and <b>T. Liu</b>, &quot;The Impact of the New Cooperative Medical Scheme in Sangzhi County, Hunan Province&quot;, <i>Chinese Journal of Population Resources and Environment</i>, vol. 11, no. 2, pp. 174–179, 2013
<br>
<a href="https://www.tandfonline.com/doi/abs/10.1080/10042857.2013.814218">Download paper here</a>
<br><br>

<b>You can also find my articles on <a href="https://scholar.google.com/citations?user=LtdHRjsAAAAJ&hl=en">my Google Scholar profile</a>.</b>

<h2>Research Projects</h2>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

